.wrapper{
	display: flex;
	
	align-items: stretch;

}
#sidebar{
	min-width: 200px;
	max-width: 200px;
	min-height: 100vh;
	margin-left: 2rem;

    transition: all 0.3s;

}
#sidebar.active{
	margin-left: -200px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.selfy img{
	height: 60px;
	width: 60px;
	border-radius: 73px;
	margin:1rem; 
}
.selfy {
	float: right;
	padding-right: 2rem;
	font-weight: bold;
}

.logo{
	font-size: 40px;
}
.hed{
	padding: 1rem;
}
h1{
	font-size: 23px;
	padding: 1rem;
	text-align: center;
}
.free{
	border-style: solid;
	border-width: 1px;

}
ul.selfy li p {
	margin: 3rem;
}
ul.selfy li i {
	margin-top: 3rem;
	font-size: 20px;
}
h2{
	font-size: 20px;
}
.first{
	padding: 3rem;
	margin-top: 0rem;

}
.side{
	font-size: 20px;

}
body{
	left: px;
}